<?php

return array(
    'mail' => array(
        'translator' => "Application\Utils\Translator",
        'domains' => array(
            'default' => 'my-application.com'
        ),
        'from' => array(
            'default' => array(
                'name' => 'My application',
                'email' => 'app',
                'domain' => 'default'
            ),
        )
    ),
);
